* {
    font-family: Arial, sans-serif;
}

.main_container {
    text-align: center;
}

.main_link {
    text-decoration: none;
}

.main_list {
    list-style-type: none;
}

.main_li {
    padding: 5px;
}

.main_img {
    border: 1px solid black;
    border-radius: 90px;
    width: 90%;
    height: auto;
}

img {
    border: 1px solid black;
    border-radius: 90px;
    width: 50%;
    height: auto;
}