* {
    font-family: Verdana, sans-serif;
}

.main_title {
    background-color: #ffd9b3;
}

.home_link,
.main_title {
    border: 1px solid black;
    padding: 10px;
}

.home_box {
    margin-bottom: 21px;
}

.main_container,
.home_box,
.title_card,
.card > h2,
.card > p {
    text-align: center;
}

.main_link {
    text-decoration: none;
}

.main_list {
    list-style-type: none;
}

.main_li,
.card {
    padding: 5px;
    border-radius: 21px;
}

.main_img {
    border: 1px solid black;
    border-radius: 90px;
    width: 90%;
    height: auto;
}

img {
    border: 1px solid black;
    border-radius: 90px;
    width: 50%;
    height: auto;
}

.card {
    border: 1px solid black;
    margin: 21px;
    background-color: #ffcccc;
}

